---
import { Image } from "astro:assets";
const { writer, issue } = Astro.props;

const createHref = () => {
  if (writer?.slug) {
    return `/${issue}/${writer.slug}`;
  } else return;
};
---

<script>
  const cards = document.querySelector(".card");
  cards.forEach((card) => {
    const link = card.querySelector("a");
    card.addEventListener("click", () => {
      link.preventDefault();
      link.click();
    });
  });
</script>

<li class="card">
  <Image src={writer.imageSrc} alt="" width="200" height="200" />
  {writer?.name && <a href={createHref()}>{writer.name}</a>}
</li>

<style lang="scss">
  .card {
    display: grid;
    place-items: center;
    background-color: white;
    padding: 1rem;
    :global(img) {
      object-fit: contain;
    }
  }
</style>
