---
import { Image } from "astro:assets";
import etteLogo from "@assets/ettelogo.webp";
import Nav from "./Nav.astro";
const { issueTitle, issue, authors } = Astro.props;
---

<header class="header">
  <h1 class="ette-logo">
    <a href={import.meta.env.BASE_URL}>
      <Image
        alt="Ette literary magizine logo."
        src={etteLogo}
        width="450"
        height="133.4"
      />
    </a>
  </h1>
  <Nav issueTitle={issueTitle} issue={issue} authors={authors}/>
</header>

<style lang="scss">
  .header {
    display: grid;
    padding-bottom: 0;
    :global(img) {
      width: min(100%, 450px);
      height: auto;
    }
  }
  h1 {
    padding: 1rem;
  }
  a {
    display: block;
  }
</style>
