---
import SiteLayout from "@layouts/SiteLayout.astro";
import MainLayout from "@layouts/MainLayout.astro";
import SocialNav from "@components/SocialNav.astro";
import AuthorNavigator from "@components/AuthorNavigator.astro";
const { authors, author, slug, issueTitle, issue } = Astro.props;
import { Image } from "astro:assets";
---

<SiteLayout title={author?.name + " | -ette-review"} description={author?.name + " in -ette-review " + issueTitle} ogimage={author?.imageSrc}>
  <MainLayout issueTitle={issueTitle} issue={issue} authors={authors} >
  <div class="text">
    <Image src={author?.imageSrc} alt="" height="400" width="400" class="author-img" />
    <slot />
    <AuthorNavigator authors={authors} author={author} slug={slug} />
    <SocialNav
      instagramUrl={author?.instagram}
      twitterUrl={author?.twitter}
      facebookUrl={author?.facebook}
      blueskyUrl={author?.bluesky} 
    />
  </div>
  <div class="empty"></div>
  </MainLayout>
</SiteLayout>

<style>
  .text :global(img) {
    object-fit: contain;
    float: left;
    margin-right: 1em;
margin-bottom: 1em;
  }
  .text :global(h2 + *) {
    margin-top: 1em;
  }
  
</style>
