---
import SiteLayout from "@layouts/SiteLayout.astro";
import MainLayout from "@layouts/MainLayout.astro";
import SocialNav from "@components/SocialNav.astro";
import AuthorNavigator from "@components/AuthorNavigator.astro";
const { authors, author, slug } = Astro.props;
import { Image } from "astro:assets";
---

<SiteLayout title={author?.name + " | -ette-review"} description="">
  <MainLayout>
    <div class="text">
      <Image src={author?.imageSrc} alt="" height="400" width="400" />
      <slot />
      <AuthorNavigator authors={authors} author={author} slug={slug} />
      <SocialNav
        instagramUrl={author?.instagram}
        twitterUrl={author?.twitter}
        facebookUrl={author?.facebook}
      />
    </div>
    <div class="empty"></div>
  </MainLayout>
</SiteLayout>

<style>
  .text :global(img) {
    object-fit: contain;
    float: left;
    margin-right: 2rem;
  }
  .text :global(h2 + *) {
    margin-top: 1em;
  }
</style>
